.error {
  width: 425px;
  background-color: #3394cc99;
  border-radius: 10px;
  padding: 1rem;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;

  &-message {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 500px) {
  .error {
    width: 85%;
    
    &-message {
      font-size: 0.7rem;
    }
  }
}